

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,700&display=swap');


body {

    font-family: 'Playfair Display', serif;
    background: url(screenshots/5.jpg) no-repeat center center fixed;
    padding: 100px 0;
    background-size: 100%;


}



.container {
    width: 1020px;
    min-height: 1200px;
    border: 4px solid rgba(1, 110, 253, 0.76);
    margin: 0 auto;
    background: #0000007c;
}

.header {
    display: flex;
    height: 200px;
}

.title-block {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    font-size: 40px;
    background: url(screenshots/10.gif) center center / cover;

}



.nav ul {
display: flex;
border-radius: 10px;
height: 100px;
border: 10px solid #1a3dff
}



.nav li a {
    display: flex;
    padding: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-weight: bolt;
    border-right: solid #1a3dff
}

.nav li a:hover {
    background: #1100ff34;
    transform: translate(100px, 20%);
}

.content{
    width: 90%;
    padding: 4%;
    font-size: 30px;
}

iframe{
margin-top: 20px;
border: 10px solid #1a3dff
}

audio{
padding: 15px;
}